.container{
    height: max-content;
}

.hero {
    background-color: #150111;
}


.hero2 {
    width: 100;
    height: 100vh;
    background-image: url('../public/assets/secondBanner.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}
.button {
    color: #fbfcfd;
    padding: 10px 25px;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    margin-top: 10px;
}

.content {
    color: #fbfcfd;
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
    z-index: 2;
    
}

.title {
    margin: 0;
    line-height: 1.15;
    font-size: 3.5rem;
    
}

.small{
    font-size: 2rem;
}



.logo1{
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
    animation: logo1 1s infinite;
    z-index: 2;
}

.logo2 {
    position: absolute;
    right: 9.4%;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.2;
    z-index: 3;
    animation: logo2 1s infinite;
    
}

.logo3 {
    position: absolute;
    right: 1.8%;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.2;
    z-index: 1;
    animation: logo3 1s infinite;

}

@keyframes logo1 {
    0%{
        width: 500px;
        height: 500px;
        right: 10%;
        
    }
    25%{
        width: 490px;
        height: 490px;
        right: 10.2%;
        
    }
    50%{
        width: 500px;
        height: 500px;
        right: 10%;
    }
    75% {
        width: 480px;
        height: 480px;
        right: 10.5%;
        
    }
    100%{
        width: 500px;
        height: 500px;
        right: 10%;
    }
}

@keyframes logo2 {
    0% {
        width: 500px;
        height: 500px;
        right: 10%;

    }

    25% {
        width: 520px;
        height: 520px;
        right: 9.4%;

    }

    50% {
        width: 500px;
        height: 500px;
        right: 10%;
    }

    75% {
        width: 520px;
        height: 520px;
        right: 9.4%;

    }

    100% {
        width: 500px;
        height: 500px;
        right: 10%;
    }
}

@keyframes logo3 {
    0% {
        width: 10px;
        height: 10px;
        right: 25%;
        opacity: 0.3;
    }
    100% {
        width: 750px;
        height: 750px;
        right: 1.8%;
        opacity: 0;
    }
}

.lineContainer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2000px;
    text-align: center;
    overflow: hidden;
    z-index: 1;
}

.svg{
    display: inline-block;
    height: 100%;
}

.section1{
    height: 100vh;
    background-color: #0d0d0d;
}

.mode1{
        position: absolute;
        right: 0;
        top: 5%;
        width: 30vw;
        z-index: 2;
        display: block;
}

.mode2 {
    position: absolute;
    right: 0;
    top: 27%;
    width: 30vw;
    z-index: 2;
    display: block;
}

.mode3 {
    position: absolute;
    right: 0;
    top: 48%;
    width: 30vw;
    z-index: 2;
    display: block;
}

.mode4 {
    position: absolute;
    right: 0;
    top: 70%;
    width: 30vw;
    z-index: 2;
    display: block;
}

.x1{
    position: absolute;
    top: 5vh;
    left: 20vw;
    width: 10vw;
}

.x2 {
    position: absolute;
    top: 5vh;
    left: 35vw;
    width: 10vw;
}

.x3 {
    position: absolute;
    top: 5vh;
    left: 50vw;
    width: 10vw;
}

.pill{
    position: absolute;
        top: 0;
        left: 65vw;
        width: 30vw;
        height: auto;
}

.pill2 {
    position: absolute;
    top: 0;
    left: 87vw;
    width: 20vw;
    height: auto;
}

.halfCircle{
    position: absolute;
    bottom: 0;
    right: 0;
}

.squareContainer{
    position: absolute;
    left: 10vw;
    bottom: 3vh;
}

.square{
    margin-right: 3vw;
    width: 2vw;
}